@import url('http://fonts.cdnfonts.com/css/averta-blackitalic');
*{
				margin:0;
				padding:0;
				box-sizing: border-box;
}

body {
    background-color: rgb(255, 250, 250);
    font-family: 'Averta-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
}

p{
    color:hsla(0, 0%, 0%, 0.6);   

     font-family: 'Averta-Regular', sans-serif;
}
#intro-container{
    background-image: url("intro-background.svg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    text-align: center;
    width: 100%;
}
#intro-content {
  margin: 0 auto 3.5rem auto;
}
#intro-content  h2 {
  font-family: 'Averta-Bold', sans-serif;

  font-size: 2.0rem;
  margin-bottom: 2.5rem;
  color:hsla(0, 0%, 0%, 0.7);   
}
#intro-content a { 
	font-family: 'Averta-Regular', sans-serif;
  text-decoration: none;
   color:#d05757;
}

#intro-button{
    margin:2em auto;
}

#new-to-industry-button,
#need-industry-experience-button {
 padding: 0.8rem 1.5rem;
 cursor: pointer;
 border-radius:0;
  }
   
#new-to-industry-button
{ 
 margin: 1.5rem; 
 background-color: #e7332b;
 color: #ffffff;
 }

#new-to-industry-button:hover,
#new-to-industry-button:active{
  background-color: #ffffff;
  color: #e7332b;
  border: 1px solid #e7332b;
}
#new-to-industry-button:focus{

		 border: 2px solid #000000; 
	border-radius:5px;

}
#need-industry-experience-button{
    background-color: #ffffff; 
    color: #e7332b; 
    border: 1px solid #e7332b;
}

#need-industry-experience-button:hover,
#need-industry-experience-button:active{
    background-color: #e7332b;
    color: #ffffff;
}
#need-industry-experience-button:focus{

    border: 2px solid #000000; 

		 border-radius:5px;
main {
  padding: 7rem 1rem 8rem 1rem;
}

#offer-container{
    width: 100%;
    background-image: url("home-page-circles-left.png"), url("home-page-circles.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 20%;
    background-position-y: 60%;
    background-position-x: left, right;
}

#offer-container  h4 {
	font-family: 'Averta-Regular', sans-serif;
  font-weight: normal;
  font-size:15px;
   color: #d05757;
}
#offer-container a {
   color: #d05757;
  text-decoration: none;
}

#offer-top p {
  font-family: 'Averta-Regular', sans-serif; 

 color:hsla(0, 0%, 0%, 0.75);

  margin-top: 1.5rem;
  line-height: 2.5rem;
  font-size: 1.5rem;
}

#offers {
  margin: 2.5rem auto 0 auto; 
  }
  
#zuri-training-offer{
  padding: 2.8rem 1.8rem 3.8rem 1.8rem;
  background-color: rgb(255, 250, 250);
  }
#zuri-internship-offer{
  padding: 2.8rem 1.8rem 3.8rem 1.8rem;
  background-color: rgb(255, 250, 250);
  }
#zuri-talent-offer{
  padding: 2.8rem 1.8rem 3.8rem 1.8rem;
  background-color: rgb(255, 250, 250);
  }
  
footer h2 {
   font-family: 'Averta-Regular', sans-serif;
  font-weight: bold;
  font-size:20px;
  color:hsla(0, 0%, 0%, 0.75);   
 }
footer p a {
  text-decoration: none;
  color:#d05757;
}

#contact-container address {
  font-family: 'Averta-Regular', sans-serif;
  color:hsla(0, 0%, 0%, 0.6);   
}

.social-icon {
  width: 1.2rem;
  height: 1.2rem;
}

#copyright{

  border-top: 2px solid hsl(0, 0%, 90%);
}
#copyright p {
   font-family: 'Averta-Regular', sans-serif;
  font-weight: bold;
  color:hsla(0, 0%, 0%, 0.7);   
}
